#header-container {
  color: white;
  background: black url('../resource/header-background.jpg') no-repeat top right;
}

div#preview {
  width: 100%;
  min-height: 10rem;
}

div.control-group #background-loader {
  max-width: 500px;
}

div.control-group .background-image-container {
  clear: both;
  display: inline-block;
  width: 150px;
  min-height: 70px;
  overflow: hidden;
  position: relative;
}

.background-image-container img {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 150px;
  height: auto;
}

#header-container .page-header {
  border: 0;
  margin: 0;
  padding: 0;
}

#background-loader label.radio {
  width: 200px;
  float: left;
  display: none;
}


#background-loader label.radio.visible {
  display: inline-block;
}

#fb-cover-template {
  display: block;
  width: 500px;
  height: 185px;
  background: transparent url('../resource/fb-cover-template.png') no-repeat top left;
  background-size: 500px 185px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../resource/fb-cover-template.png',
    sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../resource/fb-cover-template.png',
    sizingMethod='scale')";
}

#signature-template {
  display: block;
  width: 500px;
  height: 121px;
  background: transparent url('../resource/signature-template.png') no-repeat top left;
  background-size: 500px 121px;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../resource/signature-template.png',
    sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../resource/signature-template.png',
    sizingMethod='scale')";
}

#bahamut-template {
  display: block;
  width: 500px;
  height: 95px;
  background: transparent url('../resource/bahamut-template.png') no-repeat top left;
  background-size: 500px 95px;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../resource/bahamut-template.png',
    sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../resource/bahamut-template.png',
    sizingMethod='scale')";
}

@font-face {
  font-family: Attic;
  src: url(../resource/attic.ttf) format("truetype");
}

@font-face {
  font-family: Aldine721 BT;
  src: url(../resource/font.ttf) format("truetype");
}

@font-face {
  font-family: WT014;
  src: url(../resource/wt014.ttf) format("truetype");
}

@font-face {
  font-family: Ubuntu;
  src: url(../resource/Ubuntu-Title.ttf) format("truetype");
}
